@font-face {
  font-family: "Digital-7";
  src: url("../digital-7/digital-7.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(241, 249, 241);
  padding: 2rem;
  text-align: center;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  line-height: 1;
}

.header {
  margin-bottom: 6rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.wrapper {
  text-align: center;
  max-width: 700px;
  padding: 4rem 8rem;
  background-color: rgb(203, 203, 203);
  border: 2px solid rgb(63, 63, 63);
  border-radius: 10px;
  box-shadow: 5px 8px 20px 0 rgba(0,0,0, .2);
}

.btn-container {
  margin-bottom: 5rem;
}

.btn {
  margin: 0;
  border: none;
  background: none;
  font-size: 100%;
  font-family: inherit;
  line-height: 1;
  text-transform: none;
}

.btn,
.btn:link,
.btn:visited {
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666,
  0 5px 7px #555;
  font-size: 7rem;
  line-height: 1;
  color: #eee;
  transition: all .1s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  transform: translateY(1px);
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 4px #666;
  outline: none;
}

.btn:active {
  transform: translateY(3px);
  text-shadow: 0 1px 0 #999, 0 2px 2px #888;
}

/* ROTATE ROCK ICON AND SHADOW */

.btn--rock,
.btn--rock:link,
.btn--rock:visited {
  text-shadow: 1px 0 0 #999, 2px 0 0 #888, 3px 0 0 #777, 4px 0 0 #666,
  5px 0px 7px #555;
}

.btn--rock:hover,
.btn--rock:focus {
  text-shadow: 1px 0 0 #999, 2px 0 0 #888, 3px 0 0 #777, 4px 0 4px #666;
}

.btn--rock:active {
  text-shadow: 1px 0 0 #999, 2px 0 2px #888;
}

.fa-hand-rock {
  transform: rotate(90deg);
}

.fa-hand-scissors--shift {
  position: relative;
  top: 5px;
}

.round-outcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 13rem;
  height: 2rem;
  color: rgba(0,0,0, .8);
  font-size: 3rem;
  font-weight: 200;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.round-outcome h2 {
  font-size: 1.7rem;
}

.scoreboard {
  background: linear-gradient(#c6d3c2, #c6d1c0);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
  border-radius: 5px;
  font-family: 'Digital-7', monospace;
  padding: 1.5rem 1rem;
}

.scoreboard h3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.score {
  font-size: 7rem;
  font-weight: 300;
  padding: 0 1rem;
}

.score:first-child {
  border-right: 1px solid rgba(0,0,0, .5);
}

/* MODAL */

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 40vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, .4);
}

.modal--hidden {
  display: none;
}

.modal__content {
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 70%;
  margin: 0 auto;
  padding: 4rem 15%;
  border-radius: 2px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0, .3),
    5px 7px 15px 0 rgba(0,0,0, .2);
  font-size: 3rem;
}

.modal__close-btn {
  position: absolute;
  right: 10px;
  top: 20px;
  color: lightgray;
  cursor: pointer;
  font-size: 3.5rem;
  line-height: 0;
}

.modal__close-btn:hover,
.modal__close-btn:active {
  color: rgba(0,0,0, .8);
  text-decoration: none;
}

/* FLEX STYLING */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.wrapper > * {
  flex: 1 1 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round-outcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.scoreboard .score {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries */

@media (min-width: 670px) {
  .header {
    top: 15rem;
    font-size: 3rem;
  }
  
  .wrapper {
    padding: 4rem 10rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 10rem;
  }
  
  .round-outcome {
    max-width: 15rem;
    height: 4rem;
    color: rgba(0,0,0, .8);
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  
  .round-outcome h2 {
    font-size: 2rem;
  }
  
  .score {
    font-size: 10rem;
    font-weight: 300;
    padding: 0 2rem;
  }
  
  .scoreboard {
    padding: 2rem 2rem;
  }
}

@media (min-width: 800px) {
  .header {
    top: 14rem;
    font-size: 4rem;
  }
}