@font-face {
  font-family: "Digital-7";
  src: url("/digital-7/digital-7.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(241, 249, 241);
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 24rem;
  padding: inherit;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.wrapper {
  text-align: center;
  max-width: 700px;
  padding: 4rem 8rem;
  background-color: rgb(203, 203, 203);
  border: 2px solid rgb(63, 63, 63);
  border-radius: 10px;
}

.btn-container {
  margin-bottom: 5rem;
}

.btn,
.btn:link,
.btn:visited {
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666,
  0 5px 7px #555;
  font-size: 7rem;
  line-height: 1;
  color: #eee;
  transition: all .1s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  transform: translateY(1px);
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 4px #666;
  outline: none;
}

.btn:active {
  transform: translateY(3px);
  text-shadow: 0 1px 0 #999, 0 2px 2px #888;
}

/* Modifications to rotate rock icon */

.btn--rock,
.btn--rock:link,
.btn--rock:visited {
  transform: rotate(90deg);
  text-shadow: 1px 0 0 #999, 2px 0 0 #888, 3px 0 0 #777, 4px 0 0 #666,
  5px 0px 7px #555;
}

.btn--rock:hover,
.btn--rock:focus {
  transform: translateY(1px) rotate(90deg);
  text-shadow: 1px 0 0 #999, 2px 0 0 #888, 3px 0 0 #777, 4px 0 4px #666;
}

.btn--rock:active {
  transform: translateY(3px) rotate(90deg);
  text-shadow: 1px 0 0 #999, 2px 0 2px #888;
}

.fa-hand-scissors {
  position: relative;
  top: 5px;
}

.results {
  margin-bottom: 2rem;
}

.results__outcome {
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.scoreboard {
  background: linear-gradient(#eee, #fff);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
  border-radius: 5px;
  font-family: 'Digital-7', monospace;
  padding: 1.5rem 1rem;
}

.scoreboard h3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.score {
  font-size: 7rem;
  font-weight: 300;
  padding: 0 1rem;
}

.score:first-child {
  border-right: 1px solid rgba(0,0,0, .5);
}

/* Flex styling */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.wrapper > * {
  flex: 1 1 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.scoreboard .score {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries */

@media (min-width: 670px) {
  .header {
    top: 18rem;
    font-size: 4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 10rem;
  }
  
  .wrapper {
    padding: 4rem 10rem;
  }
  
  .score {
    font-size: 10rem;
    font-weight: 300;
    padding: 0 2rem;
  }
  
  .scoreboard {
    padding: 2rem 2rem;
  }
}